/* Your styles go here */

// THEME COLORS 
$AndrTechBlue:    #0271F0;
$AndrTechYellow:  #FFA203;

$primary: $AndrTechBlue;
$secondary: $AndrTechYellow;

// Imports
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    font-family: "Avenir Next", "Monaco", sans-serif;
}

h1 {
    font-weight: bold;
}

h2 {
    font-family: "Monaco", sans-serif;
    font-weight: bold;
}

h3 {
    font-family: "Monaco", sans-serif;
    font-weight: bold;
}

.monaco, .monaco * {
    font-family: "Monaco", sans-serif;
}

// Mobile Down
@include media-breakpoint-down(md) {
    .nav-item {
        width: 100% !important;
    }

    .pText {
        width: 100% !important;
        padding: 1rem;
    }

    #contactBody {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    #contactForm {
        width: 90% !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

// Tablet Down
@include media-breakpoint-down(lg) {
    .bodyMargin {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

// Tablet Up
@include media-breakpoint-up(md) {
    .bodyMargin {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    #contactForm {
        width: 40rem !important;
    }
}

// Desktop Down
@include media-breakpoint-down(lg) {
    #flipOrder0 {
        order: 0;
    }

    #flipOrder1 {
        order: 1;
    }

    .buttonMargin {
        margin-top: 1rem !important;
    }

    .projectImages {
        width: 100%;
    }
}

// Large Up
@include media-breakpoint-up(md) {
    #topOfArrow {
        max-height: 12rem;
    }
    #bottomOfArrow {
        max-height: 10rem;
    }
}

// Large Desktop
@include media-breakpoint-up(xl) {
    .bodyMargin {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

// Extra Large Desktop
@include media-breakpoint-up(xxl) {
    .bodyMargin {
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
}

#logoSplash {
    background-image: url("/images/blobBackground.svg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#contactMe {
    background-color: rgb(253, 145, 10);
  } 

.dividerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.dividerWave {
    width: 100%;
    height: auto;
}

#devPhoto {
    height: 10rem;
    width: 10rem;
}

#wfsAppIcon {
    height: 10rem;
    width: 10rem;
}

.sectionSpacing {
    margin-top: 8rem;
}

.sectionCard {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centerDivHorizontally {
    margin-left: auto;
    margin-right: auto;
}

.pText {
    width: 30rem;
}

.bodyMargin {
    margin-right: 15rem;
    margin-left: 15rem;
}

.symbol {
    height: 5rem;
    margin-bottom: 2rem;
}

.symbolSmall {
    height: 3rem;
    margin-bottom: 2rem;
}

#skillsGrid p {
    margin-top: auto;
    margin-bottom: auto;
}

#skillsGrid > div{
    margin-left: auto;
    margin-right: auto;
}

#hobbyGrid > div{
    margin-left: auto;
    margin-right: auto;
}

#wfsGrid > div{
    margin-left: auto;
    margin-right: auto;
}

#hobby1 {
    background-color: rgb(210, 54, 29);
}

#hobby2 {
    background-color: rgb(22, 92, 167);
}

#hobby3 {
    background-color: rgb(231, 206, 23);
}

#hobby4 {
    background-color: rgb(232, 58, 43);
}

#hobby5 {
    background-color: rgb(2023, 22, 122);
}

#hobby6 {
    background-color: rgb(195, 90, 37);
}

#hobby7 {
    background-color: rgb(73, 134, 41);
}

#hobby8 {
    background-color: rgb(59, 94, 124);
}

#hobby9 {
    background-color: rgb(229, 196, 63);
}

#hobby10 {
    background-color: rgb(56, 173, 112);
}

#hobby11 {
    background-color: rgb(6, 48, 105);
}

#hobby12 {
    background-color: rgb(80, 0, 94);
}

#hobby13 {
    background-color: rgb(58, 8, 190);
}

#hobby14 {
    background-color: rgb(11, 102, 255);
}

#hobby15 {
    background-color: rgb(147, 187, 43);
}

#hobby16 {
    background-color: rgb(26, 67, 35);
}

.scrollingPhotos {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.appImages {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.appImages img {
    display: inline-block;
    width: 15rem;
    height: auto;
    margin-right: 10px;
}

.appStoreButton {
    margin-left: auto;
    margin-right: auto;
}

.appStoreButton svg {
    width: 10rem;
}

#measurizeAppiPad {
    width: 60%;
    height: auto;
}

.projectImages {
    width: 24rem;
}

.buttonMargin {
    margin-top: 7rem;
}

#contactBody {
    margin-top: 5rem;
}

form {
    margin-right: auto;
    margin-left: auto;
}

#contactBody .text-start {
    text-align: center;
}

#footerLogo {
    width: 8rem;
}

footer a {
    color: white
}

.footerBorder {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

#contactForm {
    width: 25rem !important;
}

.fa-arrow-down {
    opacity: 0;
    animation: pulse 2s infinite;
}
  
@keyframes pulse {
0% {
    opacity: 0;
    transform: translateY(0);
}
50% {
    opacity: 1;
    transform: translateY(-5px);
}
100% {
    opacity: 0;
    transform: translateY(0);
}
}
  
