/* Your styles go here */

// THEME COLORS 
$AndrTechBlue:    #0271F0;
$AndrTechYellow:  #FFA203;

$primary: $AndrTechBlue;
$secondary: $AndrTechYellow;

// Imports
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Tablet
@include media-breakpoint-down(md) {
    .nav-item {
        width: 100% !important;
    }
}

#logoSplash {
    background-image: url("/images/blobBackground.svg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#devPhoto {
    height: 10rem;
    width: 10rem;
}

.sectionSpacing {
    margin-top: 8rem;
}

.centerDivHorizontally {
    margin-left: auto;
    margin-right: auto;
}

#aboutDevText {
    width: 30rem;
}